[submodule "Cooling-Link Controller/main"]
	path = Cooling-Link Controller/main
	url = https://github.com/bbzaffari/Cooling-Link-Controller.git
[submodule "Cooling-Link Controller/components/htu31"]
	path = Cooling-Link Controller/components/htu31
	url = https://github.com/bbzaffari/HTU-31D-ESP-IDF-C
[submodule "Cooling-Link Controller/components/lora_proto"]
	path = Cooling-Link Controller/components/lora_proto
	url = https://github.com/bbzaffari/LoRa-Protocol-ESP-IDF
